@font-face {
    font-family: "Calibre";
    src: url("../fonts/Calibre.eot"); /* IE9*/
    src: 
		/* chrome、firefox */ url("../fonts/Calibre.woff2") format("woff2"),
        /* chrome、firefox */ url("../fonts/Calibre.woff") format("woff"),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
            url("../fonts/Calibre.ttf") format("truetype");
}

@font-face {
    font-family: "Calibre SemiBold";
    src: url("../fonts/Calibre-SemiBold.eot"); /* IE9*/
    src:
		/* chrome、firefox */ url("../fonts/Calibre-SemiBold.woff2")
            format("woff2"),
        /* chrome、firefox */ url("../fonts/Calibre-SemiBold.woff")
            format("woff"),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
            url("../fonts/Calibre-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Calibre Bold";
    src: url("../fonts/Calibre-Bold.eot"); /* IE9*/
    src:
		/* chrome、firefox */ url("../fonts/Calibre-Bold.woff2") format("woff2"),
        /* chrome、firefox */ url("../fonts/Calibre-Bold.woff") format("woff"),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
            url("../fonts/Calibre-Bold.ttf") format("truetype");
}

@import "./vars";

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Calibre", sans-serif;
    width: 100%;
}

* {
    box-sizing: border-box;
    // scroll-behavior: smooth;
    ::-moz-selection {
        /* Code for Firefox */
        color: red;
        background: yellow;
    }

    ::selection {
        color: red;
        background: yellow;
    }
}

img {
    // image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

tspan.curlyTextBold {
    @apply font-calibre-semibold;
    font-family: 'Noe Display'
}

strong {
    @apply font-calibre-semibold font-medium;
}
